<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<div class="bs-example">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
       
        <div class="collapse navbar-collapse" >
            <form class="form-inline" >
                  <a><img src="assets\icon.png" height="20" ></a>  
                <a href="#" class="nav-item nav-link active">Home</a>
                <a href="#" class="nav-item nav-link">About Us</a>
                <a href="#" class="nav-item nav-link">Service</a>
                <a href="#" class="nav-item nav-link">Pages</a>
                <a href="#" class="nav-item nav-link">Blog</a>
                <a href="#" class="nav-item nav-link">CONTACT US</a>
            </form>
            <div class="navbar-nav ml-auto">
                <input type="text" class="form-control" placeholder="Search">
            </div>
        </div>
    </nav>
</div>