
<div class="main">
    <h2>LOREM IPSUM IS <b>SIMPLY DUMMY</b>  OF THE PRINTING</h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
    <p>when an unknown printer took a galley of type and scrambled it to make atype specimen book. </p>
    <p>It has survived not only five centuries.</p>
  </div> 
  <div class="row">
      
      <div class="col-sm-2">
          
        </div>
      <div class="col-sm-2"  align="center">
        <img src="assets\iMac.png" alt="iMac" >
        <h6><b>LOREM IPSUM</b>  is simply</h6>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</p>
      </div>
      <div class="col-sm-4"  align="center">
        <img src="assets\pencil.png" alt="Pencil" >
        <h6><b>LOREM IPSUM</b>  is simply</h6>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</p>
      </div>
      <div class="col-sm-2">
        <img src="assets\photo.png" alt="photo" align="center" text-align="center">
        <h6><b>LOREM IPSUM</b>  is simply</h6>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</p>
      </div>
      <div class="col-sm-2">
          
        </div>
    </div>

    <div class="row" id="setul2">
      
       
        <div class="col-sm-4"  align="center">
          <img src="assets\10.png" alt="iMac" >
          <div class="content">
              <h6>LOREM IPSUM is simply</h6>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</p>
          </div>
        </div>
        <div class="col-sm-4"  align="center">
          <img src="assets\11.png" alt="Pencil" >
          <div class="content">
              <h6>LOREM IPSUM is simply</h6>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</p>
          </div>
        </div>
        <div class="col-sm-4">
          <img src="assets\12.png" alt="photo" align="center" >
          <div class="content">
              <h6>LOREM IPSUM is simply</h6>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</p>
          </div>
        </div>
        <div class="col-sm-4"  align="center"> 
            <img src="assets\10.png" alt="iMac" >
            <div class="content">
                <h6>LOREM IPSUM is simply</h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</p>
            </div>
          </div>
          <div class="col-sm-4"  align="center">
            <img src="assets\11.png" alt="Pencil" >
            <div class="content">
                <h6>LOREM IPSUM is simply</h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</p>
            </div>
          </div>
          <div class="col-sm-4" id="rel" align="center" >
            <img src="assets\12.png" alt="photo">
            <div class="content">
                <h6>LOREM IPSUM is simply</h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</p>
            </div>
                
            
           </div>
      </div>
